@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d7ff7b;
  --foreground: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d7ff7b;
    --foreground: #111111;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Special Gothic Expanded One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 80%;
}
